<div class="displayWindow">
<div class="container">
<h1>Edit Question</h1>
 
<%= form_with(model: @question, local: true) do |form| %>
 
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>  
        <%= pluralize(@question.errors.count, "error") %> prohibited
        this question from being saved:
      </h2>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title , class: 'form-control' , :required => 'required' ,  placeholder: "Write your question"%>
  </div>

  <div class="form-group">
      <%= form.label :Details %>
      <%= form.text_area :text , class: 'form-control' , :required => 'required' ,  placeholder: "Enter details of question" %>
  </div>

  <div class="form-group"> 
      <%= form.label :Upload_image %><br />
      <%= form.file_field :qimage, :class => 'fileupload' %>            
  </div>   
  
  <% sintrests  = " "%>
  <% if @question.tags != nil %>
      <% @question.tags.each do |t| %> 
      <% sintrests += t.name.to_s %> 
      <% sintrests += " , "%> 
      <% end %>   
  <% end %>
  <div class="form-group">    
    <%= form.label :tags_previously_selected %>
    <%= form.text_field :tags, class: 'form-control' , value: sintrests , readonly: true %>
  </div>


  <div><b><h4>select tags from below </h4> <h6><i> (* use ctrl+mouse select to select multiple ) </i></h6></b> </div>
       
  <div class="form-group">
      <%= select_tag 'tag_ids', options_from_collection_for_select(Tag.all,"id","name") , :multiple => true, class: 'form-control'%>
  </div>

  <%= form.submit "submit edit request", class: "btn btn-primary" %>  
 
<% end %>

<%= link_to '' , question_path(@question) , class: "fas fa-chevron-circle-left" %>

</div>
</div>