<div class="displayWindow">
  <div class="container"> 
    <h1> Question </h1>
    <h5>
      <div class="form-group">
          <strong><label>Title:</label></strong>
          <input type="text" class="form-control" value="<%= @question.title %>"readonly>       
      </div>
      <div class="form-group">
          <label>Details:</label>
          <input type="text_area" class="form-control" value="<%= @question.text %>"readonly>       
      </div>
      <div class="form-group" id="viewQuestionTags" style="display:None">
      <label>Tags:</label>
      <input type="text_area" class="form-control" value="<%= @question.all_tags %>"readonly>       
      </div>
    </h5>    
    <div id="questionFurtherDetails" style="display:None">
      <div class="row">
        <div class="col">
            <strong>Posted_ON:</strong>
            <%= @question.created_at.in_time_zone("Asia/Calcutta").strftime('%a %b %d %H:%M:%S %Z %Y') %>
        </div>
        <div class ="col">
            <strong>Posted By:</strong>
            <%= User.getName(@question.user_id) %>
        </div>
        <div class ="col">
          <strong>Last_Edited:</strong>
          <%= @question.updated_at.in_time_zone("Asia/Calcutta").strftime('%a %b %d %H:%M:%S %Z %Y') %>  
        </div>
        <% @total_upvotes = QVote.total_up_votes(@question.id)%>
        <div class ="col">
          <strong> Up votes:</strong>
          <%= @total_upvotes %>
        </div>

        <% @total_dvotes = QVote.total_down_votes(@question.id)%>
        <div class ="col">
          <strong> Down votes:</strong>
          <%= @total_dvotes %>
        </div>
        
        <div class="col">
        <%= link_to "", upvote_question_path(@question), method: :post, class: "fas fa-thumbs-up" %>
      
        </div>
        <div class="col">
      
        <%= link_to "", downvote_question_path(@question), method: :post, class: "fas fa-thumbs-down" %>
        </div>
        <div class="col">
        <% if current_user.present? &&  @question.user_id == current_user.id %>
          <%= link_to 'Edit' , edit_question_path %><br>
        <%end%>
        </div>
      </div>
    </div>
    <div class="container">
    <div id="commentsOnQuestions" style="display:None">
    <h3>Comments on Questions</h3>
    <%= render @question.q_comments %>
    </div>
  <div>
  <div class="container">
    <div id="add_new_q_comment" style="display:None">
      <h2> Add Comments to question </h2>
      <%= render 'q_comments/form' %>
    </div> 
  </div>
    <div class="row">
    <div class="col">
    <button onclick="showAndHide('viewQuestionTags')" class="btn btn-primary">view Question Tags</button>
    </div>
    <div class="col">
    <button onclick="showAndHide('questionFurtherDetails')" class="btn btn-primary">show further details</button>
    </div>
    <div class="col">
    <button onclick="showAndHide('commentsOnQuestions')" class="btn btn-primary">show comments on questions</button>
    </div>
    <div class="col">
    <button onclick="showAndHide('add_new_q_comment')" class="btn btn-primary">add new question comment</button>
    </div>
    </div>
  <div class="container"> 
  <h1>Answers</h1>
  <%= render @question.answers %>
  </div>
  <button onclick="showAndHide('createNewAnswer')" class="btn btn-secondary">add new answer</button>
  <div id="createNewAnswer" style="display:None">
    <h2>Add a answer:</h2>
    <%= render 'answers/form' %>
  </div>

</div>