<div class="displayWindow">
<h1>Requests To be Accepted : </h1>
<h4>Number of Results: <%= @acceptingRequests.length %> </h4>
<% if @acceptingRequests.length == 0 %>
<% redirecttopage = '/' %>
<script>
    var timer = setTimeout(function() {
        window.location = "<%= redirecttopage %>"
    }, 3000);
</script>
<h3> as there are no new requests , redirecting to <%= redirecttopage %> </h3>
<% end %> 
<% number = 1 %>
<% @acceptingRequests.each do |r| %>
    <div class="card">    
        <div class="row">
            <%= number %>.
            <%= r.sender.uname %>  

            <%= r.sender.user_profile.full_name %>      <
            
            <%= r.sender.id %>  
            <%= r.created_at %>        
            <% number+=1 %>

            <%= link_to 'accept Friend Request',accept_request_path(params:{"id":r.sender.id}) %>
            <%= link_to 'reject Friend Request',reject_request_path(params:{"id":r.sender.id}) %>
        </div>
    <div>
<% end %>
</div>