<h1>Edit Article</h1>
 
<%= form_with(model: @article, local: true) do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>  
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title , class: 'form-control' , :required => 'required' ,  placeholder: "Title of Article"%>
  </div>

  <div class="form-group">
      <%= form.label :Details %>
      <%= form.text_area :body , class: 'form-control' , :required => 'required' ,  placeholder: "Article" %>
  </div>
  
  <p>    
    <%= form.text_field :all_tags, placeholder: "Tags seperated with comma" %>
  </p>
    <%= form.submit "Post Article", class: "btn btn-primary" %>  
 
<% end %>
 
<%= link_to '' , article_path(@article) , class: "fas fa-chevron-circle-left" %>