<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Articles</h1>
      <hr class="my-4">
      <% @articles.each do |article| %>
        <div class="row align-items-center bg-light">
          <div class="col-3 p-2 text-center">
            <div class="container">
              <%= Clap.total_claps(article.id) %>
              <%= link_to "", clap_article_path(article), method: :post, class: "fas fa-hand-peace" %>
            </div>
          </div>
          <div class="col-3 p-2"><%= article.title %></div>
          <div class="col-3 p-2"><%= article.all_tags %></div>
          <div class="col-3 p-2">
            <%= link_to "", article_path(article), class: "far fa-eye" %>
            <% if article.posted_by == current_user.id || current_user.email == "jdtujj25@gmail.com" %>
              <%= link_to "", edit_article_path(article), class: "far fa-edit" %>
              <%= link_to "", article_path(article), method: :delete, data: {confirm: 'Are you sure?'}, class: "far fa-trash-alt" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <hr class="my-4">
      <%= link_to 'New Article', new_article_path, class: "btn btn-outline-primary btn-lg" %>
    </div>
  </div>
</div>