<div class="displayWindow">
  <div class="container"> 
    <h1> Article </h1>
    <h5>
      <div class="form-group">
          <strong><label>Title :</label></strong>
          <input type="text" class="form-control" value="<%= @article.title %>"readonly>       
      </div>
      <div class="form-group">
          <label>Article :</label>
          <input type="text_area" class="form-control" value="<%= @article.body %>"readonly>       
      </div>
      <div class="form-group" id="viewArticleTags" style="display:None">
      <label>Tags :</label>
      <input type="text_area" class="form-control" value="<%= @article.all_tags %>"readonly>       
      </div>
    </h5>    
    <div id="articleFurtherDetails" style="display:None">
      <div class="row">
        <div class="col">
            <strong>Posted On:</strong>
            <%= @article.created_at.in_time_zone("Asia/Calcutta").strftime('%a %b %d %H:%M:%S %Z %Y') %>
        </div>
        <div class ="col">
            <strong>Posted By:</strong>
            <%= User.getName(@article.posted_by) %>
        </div>
        <div class ="col">
          <strong>Last Edited:</strong>
          <%= @article.updated_at.in_time_zone("Asia/Calcutta").strftime('%a %b %d %H:%M:%S %Z %Y') %>  
        </div>
        <% @total_claps = Clap.total_claps(@article.id)%>
        <div class ="col">
          <strong> Likes :</strong>
          <%= @total_claps %>
        </div>

        
        <div class="col">
<%= link_to "", clap_article_path(@article), method: :post, class: "fas fa-hand-peace" %>
        </div>
        <div class="col">
        <% if @article.posted_by == current_user.id %>
          <%= link_to 'Edit' , edit_article_path %><br>
        <%end%>
        </div>
      </div>
    </div>
  <div>

    <div class="row">
    <div class="col">
    <button onclick="showAndHide('viewArticleTags')" class="btn btn-primary">view article Tags</button>
    </div>
    <div class="col">
    <button onclick="showAndHide('articleFurtherDetails')" class="btn btn-primary"> Further Details</button>
    </div>
    </div>
  
</div>


<%= link_to 'Back' , articles_path %>
