<% header "all Conversations" %>
<div class="displayWindow">
<%= @conversations.length %>

<% @conversations.each do |x|%>
    <div>
        <% link = x.sender_id.to_s << " and " << x.reciver_id.to_s %>
        <%= link_to link , conversation_messages_path(x.as_json) %>        
    </div>
<% end %>


<h4> to create a new conversation enter user id below </h4>
<%= form_for(:Conversation, url: conversation_path , html: { method: :put }) do |f| %>
                
    <div class="form-group">
        <%= f.label :reciver_id %>
        <%= f.text_field :reciver_id, class: 'form-control' %>
    </div>
    
    <div class="form-group">
        <%= f.label :sender_id %>
        <%= f.text_field :sender_id, class: 'form-control' , value: @current_user_id%>
    </div>

    <%= f.submit "Start a new conv with user", class: 'btn btn-primary' %>

<% end %>
</div>
