<div class="container text-center">
  <div class="row">
    <div class="col-auto mx-auto text-center">
      <h1> Conversations </h1>
      <hr class="my-4">
      <% if @conversations.length == 0 %>
        <h4>No Conversations Yet</h4>
      <% else %>
        <h4>Number of Conversations: <%= @conversations.length %></h4>
      <% end %>
      <hr class="my-4">
      <%= form_for(:Conversation, url: conversation_path, html: {method: :put}) do |f| %>
        <%= f.text_field :reciver_id, :required => 'required', placeholder: 'enter user id', class: "form-control" %>
        <%= f.hidden_field :sender_id, value: @current_user_id %>
        <%= f.submit "Start Conversation", class: 'btn btn-outline-primary' %>
      <% end %>
      <hr class="my-4">
      <ol class="bg-light">
        <% @conversations.each do |x| %>
          <li class="container">
            <div class="row align-items-center">
              <div class="mr-auto col-auto">
                <%= link_to x.sender.uname.to_s, show_user_profile_path(x.sender_id) %>
                <i class="far fa-comments"></i>
                <%= link_to x.reciver.uname.to_s, show_user_profile_path(x.reciver_id) %>
              </div>
              <div class="col-auto">
                <%= link_to 'open', conversation_messages_path(x.as_json), class: "btn btn-outline-primary" %>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
      <div>
      </div>
    </div>
  </div>
</div>
