<div class="container">
  <div class="row">
    <div class="col-auto mx-auto my-auto text-center">
      <h1>Resend unlock instructions</h1>
      <hr class="my-4">
      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: {method: :post}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <%= f.label "email", class: "text-capitalize" %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="actions">
          <%= f.submit "Resend", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
      <hr class="my-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>