<div class="container text-center">
  <div class="row">
    <div class="col-auto mx-auto my-auto">
      <h1>Forgot your Password?</h1>
      <hr class="my-4">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="actions">
          <%= f.submit "Reset", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
      <hr class="my-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
