
<p>
  <strong>Answered By:</strong>
  <%= User.getName(answer.posted_by) %>
</p>
 
<p>
  <strong>Answer:</strong>
  <%= answer.body %>
</p>

<p>
    <strong>Answered_On:</strong>
    <%= answer.created_at.in_time_zone("Asia/Calcutta").strftime('%a %b %d %H:%M:%S %Z %Y') %>
</p>
<p>
    <strong>Last_Edited_on:</strong>
    <%= answer.updated_at.in_time_zone("Asia/Calcutta").strftime('%a %b %d %H:%M:%S %Z %Y') %>

</p>

    <%= button_to '+1', upvote_question_answer_path(answer.question,answer), method: :post%></td>
    <%= button_to '-1', downvote_question_answer_path(answer.question,answer), method: :post %></td>
    <% if answer.posted_by.to_i == current_user.id %>
      <%= link_to 'Edit Answer', edit_question_answer_path(answer.question,answer) %><br>
      <%= link_to 'Delete Answer', [answer.question, answer],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
    <%end%>
</p>
<% @total_upvotes = AVote.total_up_votes(answer.id)%>
<p> 
  <strong> Up votes:</strong>
  <%= @total_upvotes %>
</p>

<% @total_dvotes = AVote.total_down_votes(answer.id)%>
<p> 
  <strong> Down votes:</strong>
  <%= @total_dvotes %>
</p>

<h2>Comments</h2>
<% @question = answer.question %>
<% @answer = answer %>
<%= render @answer.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/aform' %>