<h1>Edit answer</h1>
 
<%= form_for ([@answer.question,@answer]) do |form| %>
 
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2>  
        <%= pluralize(@answer.errors.count, "error") %> prohibited
        this answer from being saved:
      </h2>
      <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
<div class="form-group">
    <%= form.label "Your answer on above question:" %><br>
    <%= form.text_area :body , class: 'form-control' , :required => 'required' ,  placeholder: "Write your answer"%>
  </div>

  <%= form.submit "Submit Answer", class: "btn btn-primary" %>  
 
<% end %>
 
<%= link_to 'Back', question_path(@answer.question) %>