<div class="container text-center">
  <% if user_signed_in? %>
    <h1 class="text-capitalize">Welcome! <%= current_user.uname %></h1>
    <hr class="my-4">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <h3>Recent Popular Questions</h3>
        <% @mostUpVoted.each do |i| %>
          <% question = @questions[i] %>
          <% @upvotes = QVote.total_up_votes(question.id) %>
          <% @downvotes = QVote.total_down_votes(question.id) %>
          <div class="row align-items-center bg-light">
            <div class="col-3 p-2 text-center">
              <div class="container">
                <%= @upvotes %>
                <%= link_to "", upvote_question_path(question), method: :post, class: "fas fa-thumbs-up" %>
              </div>
              <div class="container">
                <%= @downvotes %>
                <%= link_to "", downvote_question_path(question), method: :post, class: "fas fa-thumbs-down" %>
              </div>
            </div>
            <div class="col-3 p-2"><%= question.title %></div>
            <div class="col-3 p-2 text-left"><%= question.all_tags %></div>
            <div class="col-3 p-2">
              <%= link_to "", question_path(question), class: "far fa-eye" %>
              <% if question.user_id == current_user.id %>
                <%= link_to "", edit_question_path(question), class: "far fa-edit" %>
                <%= link_to "", question_path(question), method: :delete, data: {confirm: 'Are you sure?'}, class: "far fa-trash-alt" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <h3>Recent Popular Articles</h3>
        <% @mostClapped.each do |i| %>
          <% article = @articles[i] %>
          <div class="row align-items-center bg-light">
            <div class="col-3 p-2 text-center">
              <div class="container">
                <%= Clap.total_claps(article.id) %>
                <%= link_to "", clap_article_path(article), method: :post, class: "fas fa-hand-peace" %>
              </div>
            </div>
            <div class="col-3 p-2"><%= article.title %></div>
            <div class="col-3 p-2"><%= article.all_tags %></div>
            <div class="col-3 p-2">
              <%= link_to "", article_path(article), class: "far fa-eye" %>
              <% if article.posted_by == current_user.id %>
                <%= link_to "", edit_article_path(article), class: "far fa-edit" %>
                <%= link_to "", article_path(article), method: :delete, data: {confirm: 'Are you sure?'}, class: "far fa-trash-alt" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
  <% else %>
    <h1 class="display-4">Welcome!</h1>
    <hr class="my-4">
    <p class="lead">
      Register to get started.
    </p>
    <a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>">Register</a>
  <% end %>
  </div>
</div>