<div class="displayWindow">
  <h1>Results : </h1>
  <% if @users != nil %>
    <h4>Number of Results: <%= @users.length %> </h4>
    <% number = 1 %>
    <% @users.each do |u| %>
      <div class="card">
        <%= number %>.
        <%= u.uname.upcase %>
        <%= link_to 'show Personal Information', show_user_profile_path(u.user_id) %>
        <% if user_signed_in? && current_user.id != u.user_id %>
          <%= link_to 'send Friend Request', send_request_path(params: {"id": u.user_id}) %>
          <%= link_to 'send Message', conversation_path(params: {"Conversation": {"reciver_id": u.user_id, "sender_id": current_user.id}}), method: :put %>
        <% end %>
        <% number += 1 %>
      </div>
    <% end %>
  <% else %>
    <h4> No results found </h4>
  <% end %>
</div>