<% if @user_profile != nil %>
<div class="row">
<div class="col-sm-12 col-md-4 col-lg-4">
<div class="userProfileWindow">
    <h1> <%= "User Profile " %> </h1>

    <% if current_user != nil && current_user.id == @user_profile.user_id %>
        <h5> <%= link_to 'edit below Information', edit_user_profile_path %> </h5>
    <% end %>

    <div class="form-group">
        <label>uName:</label>
        <input type="text" class="form-control" value="<%= @user_profile.uname %>"readonly>    
    </div>

    <div class="form-group">
        <label>FullName:</label>
        <input type="text" class="form-control" value="<%= @user_profile.full_name %>"readonly>    
    </div>
    
    <div class="form-group">
        <label>DOB:</label>                
        <% # see here if all table are restarted then we can delete else feild %>
        <input type="date" class="form-control" value="<%= if @user_profile.dob 
                @user_profile.dob.to_date
        else 
            "00/00/0000"
        end%>"readonly>    
    </div>

    <div class="form-group">
        <label>College Name:</label>
        <input type="text" class="form-control" value="<%= @user_profile.college_id%>"readonly>    
    </div>

    <div class="form-group">
        <label>Country:</label>
        <input type="text" class="form-control" value="<%= @user_profile.country %>"readonly>    
    </div>

    <div class="form-group">
        <label>points :</label>
        <input type="text" class="form-control" value="<%= @user_profile.points %>"readonly>    
    </div>
</div>
</div>

<div class="col-sm-12 col-md-4 col-lg-4">
<div class="userProfileWindow">
    <div class="form-group">
        <label>Profile Picture:</label>
        <div>
            <%if @user_profile.profile_picture.attached? %>
                <h1> attached Picture </h1>
                <%= image_tag(@user_profile.profile_picture,:class=>"displayProfilePictureInEdit")%>
            <% else %>
                <%= image_tag(asset_path("doctor.jpg"),:class=>"displayProfilePictureInEdit") %>            
            <%end%>
        </div>
    </div>    
</div>
</div>

<div class="col-sm-12 col-md-4 col-lg-4">
<div class="userProfileWindow">
    <h1> Interests : </h1>
    <% if current_user != nil && current_user.id == @user_profile.user_id %>
        <h5> <%= link_to 'edit your intrests', edit_user_intersts_path %> </h5>
    <% end %>

    <div class="form-group"> 
    <% if @intersts != nil %>
        <div class="form-group">
        <% @intersts.each do |t| %>    
            <div class="card">
            <%= t.tag.name.to_s.capitalize %>
            </div>
        <% end %>
        </div>
    <% else %>
        <div class="card">
            no intrests noted
        </div>
    <% end %>
           
    </div>
</div>  
</div>

</div>
</div>
<% else %>
<% header "No such user exists" %>
<% end %>