<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Tags</h1>
      <hr class="my-4">
      <%= form_for(:Tag, url: create_new_tag_path, html: {method: :put}, class: "form-inline") do |f| %>
        <div class="form-group">
          <%= f.text_field :name, placeholder: "new tag name", class: "p-2 m-2" %>
          <%= f.submit "create", class: 'btn btn-primary' %>
        </div>

      <% end %>
      <hr class="my-4">
      <% if @tags.length == 0 %>
        <h4>No Tags Yet</h4>
      <% else %>
        <h4>Total Tags: <%= @tags.length %></h4>
        <hr class="my-4">
        <% @tags.each do |tag| %>
          <div class="container">
            <div class="row">
              <div class="col-6 mr-auto">
                <h5><%= tag.name %></h5>
              </div>
              <div class="col-6 ml-auto">
                created by user id <%= User.getName(tag.user_id) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
