<div class="displayWindow">

<h6> Total tags : <%= @tags.length %> </h6>

<% @tags.each do |t| %>
    <div class ="card">
        <span> "<%= t.name %>"  created by user with id <%= t.user_id %></span>
    </div>
<% end %>

<% if current_user != nil %>

<h1> create new tag </h1>

<%= form_for(:Tag, url: create_new_tag_path , html: { method: :put }) do |f| %>
                
    <div class="form-group">
        <%= f.label :tagname %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>  

    <%= f.submit "create", class: 'btn btn-primary' %>

<% end %>

<% end %>
</div>
