<div class="container">
  <div class="row">
    <div class="col-auto mx-auto my-auto text-center">
      <h1>Sign In</h1>
      <hr class="my-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: "text-captilize" %>
          <%= f.email_field :email, class: 'form-control', autofocus: true, autocomple: "email" %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-outline-primary" %>
        </div>
        <hr class="my-4">
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>