<h1>Edit comment</h1>
    <%= form_for ([@q_comment.question,@q_comment]) do |form| %>
    
    <% if @q_comment.errors.any? %>
        <div id="error_explanation">
        <h2>  
            <%= pluralize(@q_comment.errors.count, "error") %> prohibited
            this comment from being saved:
        </h2>
        <ul>
            <% @q_comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
        
 <div class="form-group">
    <%= form.label "Your comment on the above question:" %><br>
    <%= form.text_area :body , class: 'form-control' , :required => 'required' ,  placeholder: "Write your comment"%>
  </div>

  <%= form.submit "Submit Comment", class: "btn btn-primary" %>  
    
    <% end %>
    
    <%= link_to 'Back', question_path(@q_comment.question) %>
