<h1>Add new Question</h1>

<%= link_to 'New Question', new_question_path %>

<h1>Listing Questions</h1>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.title %></td>
      <td><%= question.text %></td>
      <td><%= link_to 'Show', question_path(question) %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
    </tr>
  <% end %>
</table>