<!DOCTYPE html>
<html>
  <head>
    <title>Docto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= controller_name %>_<%= action_name %>">
     <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="<%= root_path %>"> Docto </a>
        <button class="navbar-toggler" type="button" data-toggle="#collapse" data-target="#collapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "Home", root_path, class: "nav-link"%>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item active">
                <%= link_to 'Conversations', my_conversations_path, class: "nav-link" %>
              </li>
              <li class="nav-item active dropdown">
                <%= link_to 'Friends', all_friends_path, class: "nav-link" %>
                <div class=>
              </li>
              <li class="nav-item active">
                <%= link_to 'Questions', questions_path, class: "nav-link" %>
              </li>
              <li class="nav-item active">
                <%= link_to 'Articles', articles_path, class: "nav-link" %>
              </li>
              <li class="nav-item active">
                <%= link_to 'Tags', all_tags_path, class: "nav-link" %>
              </li>
              <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notifications</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01" id="notifications">
                  <%= link_to raw('new friend requests: <span id="numberofnewFriendRequests"> 0 </span>'), accept_requests_path , class: "dropdown-item"%>
                </div>
              </li>
              <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Your profile</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                  <%= link_to 'Change Password', edit_user_registration_path, class: "dropdown-item" %>
                  <%= link_to 'Edit Personal Information', edit_user_profile_path, class: "dropdown-item" %>
                  <%= link_to 'Show Personal Information', current_user_profile_path, class: "dropdown-item" %>
                  <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>
            <% else %>
              <li class="nav-item active">
                <%= link_to "Log In", new_user_session_path, class: "nav-link"%>
              </li>
              <li class="nav-item active">
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"%>
              </li>
              <li class="nav-item active">
                <%= link_to "about", about_path, class: "nav-link"%>
              </li>
            <% end %>
          </ul>

          <!-- Need to set the url for this form -->
          <%= form_with(as: "postSearch", url: search_questions_path, html: {method: :get}, local: true) do |f| %>
            <%= f.text_field :keyword, class: "form-control", placeholder: "Search posts" %>
            <%= f.submit "search posts", class: "btn btn-secondary" %>
          <% end %>

          <%= form_with(as: "postSearch_tag", url: search_questions_tags_path, html: {method: :get}, local: true) do |f| %>
            <%= f.text_field :keyword, class: "form-control", placeholder: "Search posts by tags" %>
            <%= f.submit "search posts", class: "btn btn-secondary" %>
          <% end %>


          <%= form_with(as: "userSearch", url: search_users_path, html: {method: :get}, local: true) do |f| %>
            <%= f.text_field :keyword, class: "form-control", placeholder: "Search users" %>
            <%= f.submit "search users", class: "btn btn-secondary" %>
          <% end %>
        </div>
      </nav>
        
    <div style="height:500px ;overflow: auto">
      <div style="background-color: white">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <%= value %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>   

  </body>
</html>
